<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:util="http://www.springframework.org/schema/util"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:mvc="http://www.springframework.org/schema/mvc"
			 xmlns:task="http://www.springframework.org/schema/task"
			 xsi:schemaLocation="http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context-4.0.xsd
					http://www.springframework.org/schema/mvc
					http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
					http://www.springframework.org/schema/task
					http://www.springframework.org/schema/task/spring-task-4.0.xsd
                    http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
					http://www.springframework.org/schema/util
					http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:annotation-config />
    <context:component-scan base-package="com.gracenotes" />

    <!-- creates a java.util.Properties instance with values loaded from the supplied location -->
    <!--<util:properties id="configuration" location="file:${mongo.host}"/>-->

	<import resource="classpath:spring/persistence-context.xml" />

	<mvc:annotation-driven />
	<!--<mvc:resources mapping="/resources/**" location="/resources/" />-->

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
